[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Bootstrap Archives - GeeksRead
Type=Link
URL=https://www.geeksread.com/category/bootstrap/
Icon=text-html
